In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
# Import the dependencies.
import pandas as pd
import numpy as np
import time
from datetime import datetime
import gmaps
import requests
import json
# Import the API key.
%load_ext dotenv
%dotenv
import os
gkey = os.getenv('G6_KEY')

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('./weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-10-05 22:03:29,-46.1927,168.8643,37.47,96,100,9.95
1,1,Constitucion,CL,2022-10-05 22:03:30,-35.3333,-72.4167,54.72,76,17,10.27
2,2,Opuwo,NaN,2022-10-05 22:01:11,-18.0607,13.8400,71.64,29,2,5.68
3,3,Vaini,TO,2022-10-05 22:03:31,-21.2000,-175.2000,76.50,86,100,13.02
4,4,Cape Town,ZA,2022-10-05 22:01:24,-33.9258,18.4232,59.38,69,1,3.00

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# # Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# if not city_data_df.loc[city_data_df["Max Temp"] < 0.0].empty:
#     temps = [max(temp, 0) for temp in max_temp]
# #     temps = []
# #     for temp in max_temp:
# #         temps.append(max(temp, 0))
#     max_temp = temps
# display(max_temp, city_data_df["Max Temp"])

In [5]:
# Heatmap of temperature
# Get the latitude and longitude, create locations df
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vaini,TO,2022-10-05 22:03:31,-21.2000,-175.2000,76.50,86,100,13.02
12,12,Butaritari,KI,2022-10-05 22:03:34,3.0707,172.7902,82.22,70,19,16.55
15,15,Sao Filipe,CV,2022-10-05 22:03:36,14.8961,-24.4956,79.38,82,43,7.85
17,17,Atuona,PF,2022-10-05 22:02:55,-9.8000,-139.0333,77.04,75,6,17.36
20,20,Hambantota,LK,2022-10-05 22:03:38,6.1241,81.1185,77.34,94,20,3.44
24,24,Hithadhoo,MV,2022-10-05 22:03:38,-0.6000,73.0833,81.95,75,100,20.04
31,31,Santa Rosa,PH,2022-10-05 22:03:41,14.3122,121.1114,80.10,87,99,6.55
41,41,Haikou,CN,2022-10-05 22:03:46,20.0458,110.3417,78.44,87,11,8.59
43,43,Lompoc,US,2022-10-05 22:03:47,34.6391,-120.4579,76.84,72,20,9.22
50,50,Avarua,CK,2022-10-05 22:04:50,-21.2078,-159.7750,78.85,69,20,21.85

In [11]:
preferred_cities_df.count()

City_ID       171
City          171
Country       169
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [12]:
# Drop any row that contains any null values
if len(preferred_cities_df.loc[preferred_cities_df.isnull().any(axis=1)].index) > 0:
    preferred_cities_df = preferred_cities_df.dropna(how='any')
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
3        Vaini      TO     76.50 -21.2000 -175.2000
12  Butaritari      KI     82.22   3.0707  172.7902
15  Sao Filipe      CV     79.38  14.8961  -24.4956
17      Atuona      PF     77.04  -9.8000 -139.0333
20  Hambantota      LK     77.34   6.1241   81.1185

In [14]:
# Starting URL for Place Details API Call.
# gapi_place_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"
# output: either json or xml
# parameters: separated by the ampersand (&) character, e.g. &radius=5000&types='lodging'

# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Vaini,TO,76.50,-21.2000,-175.2000,Keleti Beach Resort
12,Butaritari,KI,82.22,3.0707,172.7902,Isles Sunset Lodge
15,Sao Filipe,CV,79.38,14.8961,-24.4956,Hotel Xaguate
17,Atuona,PF,77.04,-9.8000,-139.0333,Villa Enata
20,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63
24,Hithadhoo,MV,81.95,-0.6000,73.0833,Scoop Guest House
31,Santa Rosa,PH,80.10,14.3122,121.1114,Erlyn’s Sta Rosa City Home
41,Haikou,CN,78.44,20.0458,110.3417,Sun City Restaurant
43,Lompoc,US,76.84,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
50,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))